OSSEC_IMAGE=atomicorp/ossec-docker:v3.6
OSSEC_CONTAINER_NAME=ossec-server
OSSEC_DATA_DIR=./data
POSTFIX_IMAGE=juanluisbaptiste/postfix:latest
POSTFIX_CONTAINER_NAME=postfix-relay
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=dummykevin08@gmail.com
SMTP_PASSWORD=CHANGE_ME_GMAIL_APP_PASSWORD
POSTFIX_SERVER_HOSTNAME=ossec-relay.local
OSSEC_EMAIL_TO=dummykevin08@gmail.com
OSSEC_EMAIL_FROM=dummykevin08@gmail.com
OSSEC_EMAIL_ALERT_LEVEL=7
OSSEC_EMAIL_MAX_PER_HOUR=50
