{
    admin off

    # Send all access logs to a single JSON file for Crowdsec
    log default {
        output file /var/log/caddy/access.log
        format json
    }

    # CrowdSec Bouncer configuration
    crowdsec {
        api_url http://crowdsec:8080/
        api_key {env.CADDY_CROWDSEC_API_KEY}
    }
}

:80 {
    respond /healthz 200
}

wazuh.hq-sec.local {
    tls internal
    reverse_proxy https://wazuh-dashboard:5601 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

wazuh-api.hq-sec.local {
    tls internal
    reverse_proxy https://wazuh-manager:55000 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

wazuh-indexer.hq-sec.local {
    tls internal
    reverse_proxy https://wazuh-indexer:9200 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

graylog.hq-sec.local {
    tls internal
    reverse_proxy http://graylog:9000
}

thehive.hq-sec.local {
    tls internal
    reverse_proxy http://thehive:9000
}

shuffle.hq-sec.local {
    tls internal
    reverse_proxy http://shuffle-frontend:80
}

shuffle-api.hq-sec.local {
    tls internal
    reverse_proxy http://shuffle-backend:5001
}

velociraptor.hq-sec.local {
    tls internal
    reverse_proxy http://velociraptor:8889
}

greenbone.hq-sec.local {
    tls internal
    reverse_proxy https://greenbone-nginx:443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

vault.hq-sec.local {
    tls internal
    reverse_proxy http://vault:8200
}

reports.hq-sec.local {
    tls internal
    reverse_proxy http://report-dashboard:80
}

uptime.hq-sec.local {
    tls internal
    reverse_proxy http://uptime-kuma:3001
}

ghost.hq-sec.local {
    tls internal
    reverse_proxy http://ghost:11434
}
